html {
    border-radius: 100px
}

body {
    width: 400px;
    height: 500px;
    border-radius: 100px;
    background-color: rgb(245, 245, 245);
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 28px;
}

.transactionList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.transaction {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 40px;
    height: 40px;
    padding: 0px 10px;
}

.left {
    display: flex;
    flex-direction: row;
}

.right, .left .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left .column {
    margin-left: 10px;
}

.right {
    text-align: right;
    padding: 10px;
}

.name {
    font-size: 18px;
    font-weight: 700;
}

.right .from {
    color: #00cc66;
}

.right .to {
    color: #cc2900;
}

.name span {
    font-weight: normal;
}

#publicKey {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.input {
    width: 80%;
    padding: 10px 5px;
    border-width: 0;
    border-radius: 10px;
}

.asset {

}