.stellar-tip-button {
  cursor: pointer;
}

.stellar-tip-dialog {
  display: none;
  overflow: hidden;
  z-index: 99999;
  margin: 10px 0;
  border: 1px solid #e8e8e8;
  color: #444;
  background: #fff;
  border-radius: 0.5em;
  width: 360px;

  box-shadow: 0 5px 10px 0 #808080;
  
  background: #f2f2f2;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}

.stellar-tip-dialog[data-show] {
  display: block;
}

.stellar-tip-dialog form {
  display: table;
}

.stellar-tip-dialog td {
  text-align: left;
}

/* body {
  background: #f2f2f2;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
} */

.modal {
  background: #FFF;
  border-radius: 3px;
  background-clip: padding-box;
  overflow: hidden;
}
.modal .form .form-row {
  display: flex;
  flex-direction: row;
  margin: 0 0 30px;
}
.modal .form .form-row:last-child {
  margin: 0;
}
/* .modal .form .form-row:last-child .input-group {
  width: 75%;
  margin: 0 15px 0 0;
} */
/* .modal .form .form-row:last-child .input-group:last-child {
  width: 25%;
  margin: 0 0 0 15px;
} */
.modal .form .input-group {
  width: 100%;
}
.modal .form label {
  display: block;
  width: 100%;
  margin: 0 0 8px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.modal .form input {
  outline: none;
  display: block;
  background: #e8e8e8;
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 10px;
  color: #444;
  font-size: 14px;
  font-weight: 700;
  box-sizing: border-box;
}

.modal .form input:focus {
  color: #fff;
  background: #00cc66;
  transition: 0.3s ease;
}

.modal .header {
  background: #e8e8e8;
  width: 300px;
  margin: 0 30px;
  border-radius: 4px;
  text-align: center;
}
.modal .header .card-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.modal .header .card-type .card {
  color: #444;
  cursor: pointer;
  position: relative;
  padding: 12px 0;
  width: 25%;
  min-width: 54px;
  text-align: center;
  transition: 0.3s ease;
}

.modal .header .card-type .card b {
  text-decoration: none !important;
}

.modal .header .card-type .card b:hover,
.modal .header .card-type .card b:focus {
  color: #00cc66;
}

.modal .header .card-type .card.active {
  color: white;
  background-color: #00cc66;
}

.modal .header .card-type .card:first-of-type.active {
  color: white;
  background-color: #00cc66;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.modal .header .card-type .card:last-of-type.active {
  color: white;
  background-color: #00cc66;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


.modal .header .card-type .card:after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin: 0 0 0 -8px;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #FFF;
}
.modal .header .card-type .card.active:after {
  display: block;
  bottom: 0px;
  transition: 0.3s ease;
}

.modal .header .card-type .card img {
  display: inline-block;
}
.modal .header .card-type li {
  display: inline-block;
  margin: 0 10px;
}
.modal .content {
  padding: 30px;
}
.modal .footer .button {
  display: inline-block;
  outline: none;
  background: #00cc66;
  width: 300px;
  border: 0;
  border-radius: 4px;
  padding: 20px 30px;
  margin: 30px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #333;
}
.info span {
  color: #666;
  font-size: 12px;
}
.info span a {
  color: #000;
  text-decoration: none;
}
.info span .fa {
  color: #00A6EA;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
@-moz-keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
@-o-keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
@keyframes active{ 0%{ bottom: -60px; opacity: 0; } 100%{ bottom: -30px; opacity: 1 }}
[not-existing] {
  zoom: 1;
}

