.stellar-tip-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--stellar-tip-primary-color);
  padding: 10px 16px;
  margin: 7px;
  height: 37px;
}

.stellar-tip-button svg {
  fill: white;
  margin-right: 6px;
}

.stellar-tip-button span {
  font-size: 14px;
  font-family: "Roboto Medium", Arial, sans-serif;
  color: white;
}
