.stellar-tip-dialog {
  position: relative;
}

.stellar-tip-dialog-inner {
  position: absolute;
  z-index: 99999;
  top: 0em;
  left: -50%;
  padding: 0.5em;
  margin-top: 5px;
  border: 1px solid #118855;
  color: #333;
  background: #fff;
  border-radius: 0.5em;
}

.stellar-tip-dialog form {
  display: table;
}

.stellar-tip-dialog td {
  text-align: left;
}
